body{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header{
    background-color: cornflowerblue;
    height: 15vh;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;


}

.mid{
    display: flex;
    flex-grow: 3;
}

.menu{
    background-color: cornflowerblue;
    min-width: 40vh;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont{
    background-color: pink;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.cards{
    display: flex;
    height: 35vh;
    width: 90vh;
    justify-content: space-around;
    margin: auto;
    

}

.text{
    background-color: goldenrod;
    width: 23vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0.5em;
}

.button{
    background-color: black;
    height: 3em;
}

.footer{
    background-color: greenyellow;
    height: 15vh;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}