body{
    font-family: 'roboto';
    font-size: 14px;
    line-height: 26px;
    height: 100vh;
     
}

table{    
    height: 283px;
    width: 386px; 
    border-collapse:collapse;
    border: solid px #DDDDDD;
    text-align: center;
    color: #413E3E;
    background: #FFFFFF;    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin: 40vh;
    
    
}

thead{
    border-radius: 5px 5px 0px 0px;
    background: #009879;
    width: 386px;
    color: white;
    font-weight: bold;
    
}

tbody tr:nth-child(2n) {
    background-color:  #F3F3F3;
    
}
    

td{    
    height: 39px;    
    border-top: 1px solid #DDDDDD;
}
th{
    height: 47px;
}

tbody{
    border-bottom: 3px solid #009879;
}