
body{
    font-family: 'Indie Flower', cursive;
    background-color: rgb(244,244,243);
}
h1{
    font-size: 42px;
    text-align: center;
}
.p1{
    font-size: 27px;
}
p{
    font-size: 22px;
}
h5{
    font-size: 16px;
    text-align: right;
}