.container, .item1, .item2, .item3 {
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;
}

.container {
    background-color: #995db5;
    display: flex;
    flex-wrap: wrap;
}

.item1, .item2, .item3{
    background-color: #f7941f;
    flex-basis: 200px;

}

.item1 {
    flex-grow: 2;
}

.item2 {
        
}
.item3 {   
    
}