@font-face {
    font-family:'almondnougat';
    src: url('assets/almondnougat.ttf');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: almondnougat, cursive;
}


body{
    background-image: url(assets/background.jpg);     
    background size: auto ;
    
    
}


h1{
    font-size: 60px;
    margin-bottom: 50px;
    background-color: #FCD9AF;
    border-bottom: solid 2px black;
    text-align: center;
}

div.card{
   
    /* background-color: gray; */
}
.card{
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 3px 10px 0 black;
}

div img{
    max-width: 400px;
    border-radius: 15px 15px 0 0;
}

h2{
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px solid black;
}

span{
    font-size: 34px;
    font-weight: 800;
}

p{
    font-size: 24px;
    text-align:justify;
    margin: 5px 15px;
}

.conteudo{
    padding: 15px;
    margin-bottom: 15px;
}

.esquerda{
    margin-left: 45px;
    background-color: coral;
}

.meio{
    margin-left: auto;
    margin-right: auto;
    background-color: darkgoldenrod;
}

.direita{
    margin-left: auto;
    margin-right: 45px;
    background-color: darksalmon;
}